h1{
    text-decoration: underline;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    margin: 0 auto; 
}

input{
    width: 210px;
    height: 22px;
    margin-right: 4px;
}

.tasks-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

ul {
    padding: 0;
    width: 80%;
    max-width: 600px;
}

li {
    display: flex;
    justify-content: space-between; /* Crée l'espace entre le texte et les boutons */
    align-items: center;
    padding: 10px;
    margin-bottom: 8px;
    background-color: #f9f9f9;
    border-radius: 4px;
}


li button {
    margin-left: 2px; /* Ajoute un peu d'espace entre les boutons */
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ddd;
}
